name: Publish Package

on:
  workflow_call:

permissions:
  id-token: write # Required for OIDC

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set node version to 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org/
          cache: "npm"

      - name: Install deps
        run: npm i --ignore-scripts

      - name: Update npm
        # npm version npm 11.5.1 or later needed for Trusted Publishing
        run: npm install -g npm@latest

      - name: Verify NPM publish readiness and determine npm dist-tag
        id: verify_publish
        uses: yext/slapshot-reusable-workflows/verify-publish@v1
        env:
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
          REPO_PATH: ${{ github.workspace }}

      - name: Publish
        working-directory: ${{ steps.verify_publish.outputs.working_directory }}
        run: npm publish --access public --tag ${{ steps.verify_publish.outputs.npm_tag }}