name: Check and Update Repo's documenation

on:
  workflow_call:
    inputs:
      build_script:
        required: false
        type: string
        default: npm run build
    secrets:
      REPO_SCOPED_TOKEN:
        required: true

jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPO_SCOPED_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - run: npm ci
      - run: ${{ inputs.build_script }}
      - name: Update Documentation
        uses: EndBug/add-and-commit@v7
        with:
          message: "Automated update to repo's documentation from github action"
          add: '*.md'
          push: true
          default_author: github_actions
